<table class="table table-hover">
    <thead>
    <tr>
        <th style="text-align: center"><h2>PROHLÍŽEČ DATABÁZE</h2></th>
    </tr>
    </thead>
    <tbody style="text-align: center">
    <tr>
        <td><p><a href="./room/index.php">Seznam místností</a></p></td>
    </tr>
    <tr>
        <td><p><a href="./employee/index.php">Seznam zaměstnanců</a></p></td>
    </tr>
    </tbody>
</table>
<form action="./login/logOut.php" method="post">
    <input type="submit" value="Odhlásit se" class="btn btn-primary">
</form>
<br>
<form action="./login/passChange.php" method="post">
    <input type="submit" value="Změnit heslo" class="btn btn-primary">
</form>